pkgbase = php-codesniffer
	pkgdesc = PHP_CodeSniffer tokenizes PHP, JavaScript and CSS files to detect and fix violations of a defined set of coding standards.
	pkgver = 3.13.2
	pkgrel = 1
	url = https://github.com/PHPCSStandards/PHP_CodeSniffer
	arch = any
	license = BSD
	depends = php
	source = phpcs-3.13.2.phar::https://github.com/PHPCSStandards/PHP_CodeSniffer/releases/download/3.13.2/phpcs.phar
	source = phpcs-3.13.2.phar.asc::https://github.com/PHPCSStandards/PHP_CodeSniffer/releases/download/3.13.2/phpcs.phar.asc
	source = phpcbf-3.13.2.phar::https://github.com/PHPCSStandards/PHP_CodeSniffer/releases/download/3.13.2/phpcbf.phar
	source = phpcbf-3.13.2.phar.asc::https://github.com/PHPCSStandards/PHP_CodeSniffer/releases/download/3.13.2/phpcbf.phar.asc
	source = licence-3.13.2.txt::https://raw.githubusercontent.com/PHPCSStandards/PHP_CodeSniffer/3.13.2/licence.txt
	validpgpkeys = D91D86963AF3A29B6520462297B02DD8E5071466
	sha256sums = 0c2bc9dbd070289f9a022f479fce6b7619eb081c62f8c92ed9e264c399a5773a
	sha256sums = SKIP
	sha256sums = f98325b0e3ec71c949143ac416311ec63706e7e8220843700ad2bf0e58b5a401
	sha256sums = SKIP
	sha256sums = ad489e425c9a48b9fe97b8c11dd5f422606aa72e7726a438cd01ebee22d8ba80

pkgname = php-codesniffer
