pkgbase = php-codesniffer
	pkgdesc = PHP_CodeSniffer tokenizes PHP, JavaScript and CSS files to detect and fix violations of a defined set of coding standards.
	pkgver = 3.11.1
	pkgrel = 1
	url = https://github.com/PHPCSStandards/PHP_CodeSniffer
	arch = any
	license = BSD
	depends = php
	source = phpcs-3.11.1.phar::https://github.com/PHPCSStandards/PHP_CodeSniffer/releases/download/3.11.1/phpcs.phar
	source = phpcs-3.11.1.phar.asc::https://github.com/PHPCSStandards/PHP_CodeSniffer/releases/download/3.11.1/phpcs.phar.asc
	source = phpcbf-3.11.1.phar::https://github.com/PHPCSStandards/PHP_CodeSniffer/releases/download/3.11.1/phpcbf.phar
	source = phpcbf-3.11.1.phar.asc::https://github.com/PHPCSStandards/PHP_CodeSniffer/releases/download/3.11.1/phpcbf.phar.asc
	source = licence-3.11.1.txt::https://raw.githubusercontent.com/PHPCSStandards/PHP_CodeSniffer/3.11.1/licence.txt
	validpgpkeys = 689DAD778FF08760E046228BA978220305CD5C32
	sha256sums = cd9efa1a815148918be948ae1113f0a84dd484a1a39c2f5533929af83da9fdb1
	sha256sums = SKIP
	sha256sums = d42c95da00f0bc9fed65201d69565e0ff508ff96579d04896981f55e7799446d
	sha256sums = SKIP
	sha256sums = 577aa0eb3360e7b45fe436138c40d49f952e6d496987406981b6f1eee69b26e9

pkgname = php-codesniffer
