pkgbase = php-codesniffer
	pkgdesc = PHP_CodeSniffer tokenizes PHP, JavaScript and CSS files to detect and fix violations of a defined set of coding standards.
	pkgver = 3.11.2
	pkgrel = 1
	url = https://github.com/PHPCSStandards/PHP_CodeSniffer
	arch = any
	license = BSD
	depends = php
	source = phpcs-3.11.2.phar::https://github.com/PHPCSStandards/PHP_CodeSniffer/releases/download/3.11.2/phpcs.phar
	source = phpcs-3.11.2.phar.asc::https://github.com/PHPCSStandards/PHP_CodeSniffer/releases/download/3.11.2/phpcs.phar.asc
	source = phpcbf-3.11.2.phar::https://github.com/PHPCSStandards/PHP_CodeSniffer/releases/download/3.11.2/phpcbf.phar
	source = phpcbf-3.11.2.phar.asc::https://github.com/PHPCSStandards/PHP_CodeSniffer/releases/download/3.11.2/phpcbf.phar.asc
	source = licence-3.11.2.txt::https://raw.githubusercontent.com/PHPCSStandards/PHP_CodeSniffer/3.11.2/licence.txt
	validpgpkeys = 689DAD778FF08760E046228BA978220305CD5C32
	sha256sums = d51ec0f9b3c5af2ce4bf4a736cb6a50c495e171b1d6d7d5d1964082c08a9bea8
	sha256sums = SKIP
	sha256sums = 0d69b83f465a48f753342570e32deec4c7c15c34a7c964ea9ad26c23324bb55e
	sha256sums = SKIP
	sha256sums = 577aa0eb3360e7b45fe436138c40d49f952e6d496987406981b6f1eee69b26e9

pkgname = php-codesniffer
